<div class="item-edit">
  {{color-picker color=item.color}}
  {{input value=item.title}}
  {{input value=item.dataMetric placeholder="Metric"}}
  {{input value=item.dataChannel placeholder="Channel"}}
</div>

