.row(ng-controller="LoginCtrl")
  form.pure-form
    fieldset
      legend Login
      .pure-group
        input#email.pure-input-1-2(type="text", name="email", placeholder="Email", ng-model="auth.email")
        input#password.pure-input-1-2(type="password", name="password", placeholder="Password", ng-model="auth.password")
      button.pure-button.pure-button-primary.pure-input-1-2(type="button", ng-click="signin()") Sign in

