.row(ng-controller="LoginCtrl", ng-if="!user")
  form.col-lg-4
    fieldset
      legend Login to Admin
      .form-group
        input.form-control(type="text", name="email", placeholder="Email", ng-model="auth.email")
      .form-group
        input.form-control(type="password", name="password", placeholder="Password", ng-model="auth.password")
      .form-group
        button.btn.btn-default(type="button", ng-click="signin()") Sign in

