
div(ng-controller="MenuCtrl")
  h3#title
    a(href="/") ADAT BOSS
  .pure-menu.pure-menu-open(ng-repeat="category in categories")
    .pure-menu-heading {{ category.title }}
    ul
      li(ng-repeat="dashboard in category.dashboards")
        a(href="#/p/{{dashboard.id}}") {{ dashboard.title }}

