/* Put your CSS here */
html, body {
    margin: 30px 0;
}
body {
  background: #e5e5e5;
}


.pure-button-xsmall {
  font-size: 70%;
  font-weight: bold;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

h2.title { display: inline-block; }

h3#title { width: 100%; }

h3#title a {
  text-decoration: none;
  font-weight: normal;
  letter-spacing: normal;
  color: #eee;
  font-size: 119%;
  -webkit-font-smoothing: antialiased;
}

#layout {
  padding-left: 260px;
  left: 0;
}

#nav {
  box-shadow: inset -14px 0 29px -19px #aaa;
  margin-left: -250px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 250px;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
}
  #nav a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
  }
  #nav a:hover {
    background: #333;
  }
  #nav .pure-menu-open {
    background: transparent;
    border: 0;
  }
  #nav .add { float: right; margin: 0 12px; }

.add { color: #aaa; cursor: pointer; }


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.edit-title {
  font-size: 1.5em;
  font-weight: bold;
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 1px dotted #000;
}

#new-widget-form {
  background: #efefef;
}

.widget {
  padding: 24px;
  margin: 12px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  position: relative;
}

.widget-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  background: #dedede;
}

.widget-menu .trigger {
  height: 16px;
  padding: 8px 16px;
}

.widget-menu ul {
  display: none;
  list-style: none;
  margin: 0; padding: 0;
  cursor: pointer;
}

.widget-menu li {
  padding: 8px 16px;
}
.widget-menu:hover ul {
  display: block;
}

.widget-menu li:hover {
  background: #7FC9EF;
}


