/* Put your CSS here */
html, body {
    margin: 30px 0;
}


.pure-button-xsmall {
  font-size: 70%;
  font-weight: bold;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

h3#title { width: 100%; }

h3#title a {
  text-decoration: none;
  font-weight: normal;
  letter-spacing: normal;
  color: #eee;
  font-size: 119%;
  -webkit-font-smoothing: antialiased;
}

#layout {
  padding-left: 300px;
  left: 0;
}

#nav {
  box-shadow: inset -14px 0 29px -19px #aaa;
  margin-left: -250px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 250px;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
}
  #nav a {
    color: #999;
    border: none;
    white-space: normal;
    padding: 0.6em 0 0.6em 0.6em;
  }
  #nav a:hover {
    background: #333;
  }
  #nav .pure-menu-open {
    background: transparent;
    border: 0;
  }
  #nav .add { float: right; margin: 0 12px; }

.add { color: #aaa; cursor: pointer; }


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
