
#layout.pure-g
  #nav.pure-u
    h3#title
      a(href="#/") ADAT BOSS
    .pure-menu.pure-menu-open
      .pure-menu-heading Dashboards
        i.add.icon-plus
      ul
        {{#each dashboards }}
        li
          {{#link-to 'dashboard' this}}
          {{ title }}
          {{/link-to}}
        {{/each}}
  #main.pure-u-1
    {{outlet}}
