{{#view App.InlineTextField valueBinding=title}}
  <h2 class="title">{{ title }}</h2>
{{/view}}

<form id="new-widget-form" class="pure-form" {{ action "newWidget" on="submit"}}>
  <fieldset id="add_new_widget" class="">
    <label>Add new Widget:
      {{view Ember.Select contentBinding="widgetTypes" valueBinding="newWidgetType"}}
    </label>
    <button class="pure-button pure-button-small" type="submit">Add</button>
  </fieldset>
</form>

{{#each widgets itemController="widget"}}
  {{#if type}}
    {{view typeView contentBinding="this"}}
  {{/if}}
{{/each}}

