<form id="new-widget-form" class="pure-form" {{ action "newWidget" on="submit"}}>
  <fieldset id="add_new_widget" class="">
    <label>
      {{view Ember.Select contentBinding="widgetTypes" valueBinding="newWidgetType"}}
    </label>
    <button class="pure-button pure-button-small bg-green" type="submit"><i class="icon-plus"></i></button>
  </fieldset>
</form>
{{#view App.InlineTextField valueBinding=title}}
  <h2 class="title">{{ title }}</h2>
{{/view}}


{{#each widgets itemController="widget"}}
  {{#if type}}
    {{view typeView contentBinding="this"}}
  {{/if}}
{{/each}}

