<div class="row">
  <form class="pure-form" {{action "login" on="submit"}}>
    <fieldset id="login" class="">
      <legend>Login</legend>
      <div class="pure-group">
        {{#if loginFailed}}
          <div class="alert"> Invalid username or password. </div>
        {{/if}}
        {{input class="pure-input-1-2" placeholder="email" value=email type="text"}}
        {{input class="pure-input-1-2" placeholder="password" value=password type="password"}}
        <button class="pure-button pure-button-primary pure-input-1-2" type="submit" {{bindAttr disabled="isProcessing"}}> Sign in </button>
      </div>
    </fieldset>
  </form>
</div>
