{{outlet}}
<div class="pure-g">
  <div class="pure-u-3-5">
    <h2 class="title pure-menu-heading">Groups</h2>
    <table class="pure-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
      {{#each}}
        <tr>
          <td>{{#link-to 'group' this }}{{name}}{{/link-to}}</td>
          <td>{{created}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
